---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import ContactButton from '../components/ContactButton.astro';
---

<Layout link="/" title="Raul Muela Morey's Portfolio">
	<main class="text-center mx-auto mt-[200px] lg:mt-0 ">
		<ContactButton />
			<h1 class="text-[#FACC15] font-bold text-4xl lg:text-5xl">Smart Contract & Frontend Developer</h1>
			<h2 class="text-white mt-12 text-4xl lg:text-5xl font-bold">Raul Muela</h2>
			<a href="https://github.com/Raulioui" class="bg-[#212121] flex-row justify-center cursor-pointer px-8 rounded-lg py-2 text-center inline-flex items-center mt-16 gap-2 hover:scale-110 hover:opacity-100 opacity-70  transition-all duration-200 ease-in-out font-bold text-white">
				GitHub
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M5 12l14 0" />
					<path d="M15 16l4 -4" />
					<path d="M15 8l4 4" />
				</svg>
			</a>
	</main>
</Layout>

