<!-- Contact Image originally from "https://hello.cuberto.com/" -->

<a href="/contact" class="hidden lg:flex absolute right-10 top-10 w-[200px] h-[200px] items-center justify-center hover:scale-110 ease-in-out duration-500 hover:cursor-pointer scale-100">
        <img src="https://cdn.cuberto.com/cb/intouch/1.svg" width="120" height="120"  class="animate-spin-slow"/>
        <img
                src="../../public/Avatar.png"
                width="100"
                height="100"
                decoding="async"
                loading="lazy"
                alt="My Avatar"
                class="absolute left-1/2 top-1/2  -translate-x-1/2 -translate-y-1/2   right-[24px] w-[70px]  transform rounded-full"
        /> 
</a>