
<footer class="fixed bottom-0  w-full py-12">
    <div class="mx-auto flex flex-row justify-center gap-12 md:gap-[200px] items-center">
        <p>© Raul Muela</p>
        <div class="flex items-center justify-center gap-1">
            <p>Created with</p>
            <a href="https://astro.build/" class="underline">Astro</a>
        </div>
        <a href="/contact">Contact Me</a>
    </div>
</footer>